body{
    padding: 50px;
    background-color: #09405c;
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
}

#cvMain{
    display:flex;
    flex-direction: column;
}

.inputMain {
    background-color: #e9e9e9;
    margin-bottom: 20px;
    padding: 20px;
}

.header{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.infoDisplayDiv{
    color: #000000;
    float: left;
}

/*Education input*/
#educationInputMain {
    display: inline;
}

.submitAllButton {
    display:flex;
    margin-top: 20px;
}

.button{
    color: black;
    background-color: #888888;
    border: none;
    padding: 5px;
    margin-top: 10px;
}

/* Experience input */
#expTextArea{
    width: 300px;
    height: 150px;
}

#contactDisplayDiv{
    color: #000000;
}